.content{
    flex: 1;
    height: 100vh;
    overflow-y: scroll;
}
.form-app {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.form {
    width: 25%;
    margin: 0 auto;
    margin-bottom: 10%;
    padding: 5%;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.45);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.input {
    width: 95%;
    padding: 10px;
    margin: 7px;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255) 0px 2px 8px 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: rgb(84, 9, 154);
}

.select-department{
    width: 100%;
    padding: 10px;
    margin: 7px;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255) 0px 2px 8px 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: rgb(84, 9, 154);
}

select:focus, .input-field:focus{
    outline: none;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.submit-btn,
.clear-btn {
    background-color: rgb(84, 9, 154);
    color: #ffffff;
}

.submit-btn:hover,
.clear-btn:hover {
    color: rgb(84, 9, 154);
    background-color: #ffffff;
}



/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
            /* ********************  FILTER ******************** */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */

.filter{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 5%;
}

.search, .status{
    width: 200px;
    padding: 7px;   
    border: none;
    border-bottom: 1px solid rgb(84, 9, 154);
    border-radius: 10px;
}

.status{
    margin-left: 40px;
}

.search-btn, .apply-btn{
    background: rgb(84, 9, 154);
    border: none;
    padding: 8px;
    border-radius: 8px;
    color: #ffffff;
    margin: 0 12px;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.search-btn:focus, .apply-btn:focus{
    outline: none;
}


/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
            /* ********************  TABLE ******************** */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */




.data{
    width: 60%;
    margin: 0 auto;
    
}
.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.td,
.th {
    border: 1px solid rgb(190, 180, 200);
    text-align: left;
    padding: 8px;
}

.tr:nth-child(even) {
    background-color: rgb(190, 180, 200);
}
.edit,
.delete{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 10px;
}


/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
            /* ********************  PAGINATION ******************** */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------- */

.pagination{
    margin: 0 auto;
}

.pages{
    margin-top: 40px;
    background: rgb(96, 37, 150);
    color: #ffffff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 5px 8px;
}


