.register-div {
    width: 100%;
    height: 100vh;
    /* text-align: center; */
    /* background: url("https://images.pexels.com/photos/1766838/pexels-photo-1766838.jpeg?cs=srgb&dl=pexels-baskin-creative-studios-1766838.jpg&fm=jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4; */
}

.reg-img {
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100%;
    right: 0;
    opacity: 0.8;
}

.register-myform {
    margin: 10% 0;

}

.register-form {
    width: 350px;
    padding: 4% 2%;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.register-name, .register-password{
    margin: 20px 0;
}

.reg-name,
.reg-pwd {
    padding: 7px;
    border: none;
    border-radius: 8px;
    border-bottom: 1px solid black;
    width: 300px;
    margin: 0 3%;
}

.reg-name:focus,
.reg-pwd:focus {
    outline: none;
}

.register-head {
    font-size: 44px;
    font-weight: lighter;
    margin-bottom: 5%;
    text-align: center  ;
}

.register-btn {
    margin: 10px auto;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #0e37da 0%, #3ebfe2 51%, #040877 100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.register-btn{
    padding: 8px 30px;
}

.register-btn:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.register-btn:active {
    transform: scale(0.95);
}

/* .check{
    color: red;
    font-size: 16px;
    padding: 0 10px;
} */

/* 
.login-btn {
    padding: 5px 38px;
    margin: 35px 0;
}

.reg-btn {
    padding: 5px 31px;
} */

.valid{
    font-size: 14px;
    color: red;
    margin: 0 10px;
}